body {
  background-color: rgb(163, 214, 212);
}

wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

form {
  padding: 30px 20px;
  border: 2px solid black;
  border-radius: 6px;
}

input {
  margin-top: 3px;
  margin-bottom: 8px;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
div input {
  background-color: rgb(164, 150, 201);
  font-size: 20px;
}
